@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Inter', sans-serif;
}

/*NEWS - LUIZ FERNANDO*/

.news{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.aspas{
    display: flex;
    position: relative;
}

.aspas img{
    position: absolute;
    top: 0;
    right: calc(100% + 22px);
}

.newsh1{
    font-size: 40px;
    font-weight: 800;
    width: 787px;
    color: #273644;
}
.details{
    display: flex;
    width: 787px;
    height: 39px;
    align-items: center;
    background-color: #EFF2F7;
    gap: 33px;
}

.details a{
    color: red;
    font-weight: 700;
}

.newsp1{
    font-weight: 300;
    margin-left: 33px;
}

.newsp2{
    margin-top: 15px;
    color: #707C8C;
    width: 787px;
    font-size: 21px;
    font-weight: 400;
    line-height: 160%;
}

.continue{
    display: flex;
    gap: 16px;
}

.continue p{
    color: #273644;
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
    line-height: 160%;
}

.categorias h2{
    color: #8D9AA6;
    font-size: 26px;
    font-weight: 300;
    line-height: 160%;
    margin-top: 0;
}
.buttons{
    display: flex;
    gap: 17px;
}

.buttons button{
    color: #EB5151;
    border-color: #EB5151;
    font-size: 16px;
    background: none;
    font-weight: 300;
    line-height: 160%;
}

/*POSTS - ERIC*/

.s-posts{
    max-width: 49.1875rem;
    margin: 0 auto;
    padding-top: 5.4375rem;
    padding-bottom: 1.25rem;
}

.s-posts h3{
    color: var(--neutras-gray, #8D9AA6);
    font-size: 1.625rem;
    font-weight: 300;
}

.s-posts hr{
    border-color: #D3DDE6;
}

.s-posts .noticias{
    text-align: right;
}

.s-posts .post h4{
    color: var(--neutras-aco, #273644);
    font-size: 1.3125rem;
    margin-bottom: 0.4375rem;
}

.s-posts .post p{
    color: var(--neutras-gray, #8D9AA6);
    font-size: 0.875rem;
}

.s-posts .post a{
    color: var(--neutras-prata, #3C4B58);
    font-size: 0.875rem;
    font-weight: 300;
}

.s-posts .post .publicado{
    display: flex;
    margin-top: 0;
}

.s-posts .post .publicado p{
    padding-right: 1.25rem;
}


/*FOOTER - KAROL*/

.footer-body{
    background-color: #F9FAFC;
    display: flex;
    padding: 3em 8em;
    justify-content: space-between;
}

.footer-menu{
    list-style: none;
    line-height: 180%;
}

.footer-menu li a{
    text-decoration: none;
    color: #3C4B58;
}

.footer-menu li a:hover{
    text-decoration: underline;
}

.logo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container p {
    color: #C11616;
    font-style: italic;
}

.logo-container p span {
    font-weight: bold;
}

.footer-logo{
    width: 100%;
    background-color: #EFF2F7;
    text-align: center;
    padding: .625em 0;
}